<div class="container">
    <div class="d-flex justify-content-center">
        <h4>Select Course</h4>
    </div>
    <div class="d-flex justify-content-center">
        <table class="table table-bordered">
            <thead>
              <tr class="table-info" >
                <th scope="col">#</th>
                <th scope="col">Language</th>
                <th scope="col">Duration(months)</th>
                <th scope="col">Cost</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                <td>1</td>
                <td>Angular</td>
                <td>3</td>
                <td>3000/-</td>
                <td><button class="btn btn-sucess">view</button></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Node</td>
                <td>4</td>
                <td>3500/-</td>
                <td><button class="btn btn-sucess">view</button></td>
              </tr>
              <tr>
                <td>3</td>
                <td>React</td>
                <td>3</td>
                <td>3500/-</td>
                <td><button class="btn btn-sucess">view</button></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
